<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Acquaint</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <!--div class="container"-->
        <div class="row header">
           <img class="logo" src="{{ url_for('static', filename='images/acquaint-logo.svg') }}" alt="acquaint-logo">
           <div class="row">
               <div class="col s4 m4 header-text header-text-left">
                   Your Profile
               </div>
               <div class="col s4 m4 header-text">
                   Expand Your Network
               </div>
               <div class="col s4 m4 header-text">
                   Ask the Experts
               </div>
           </div>
        </div>    
        <div class="row">
            <div class="col s4 m4">
                    <div class="card custom-card-left">
                        <div class="row">
                            <div class="col s4 m4">
                                <div class="circle">
                                    
                                </div>
                            </div>
                            <div class="col s8 m8">
                                <p id="name">John Doe</p>
                            </div>
                        </div><div class="line"></div>
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card-heading">Contact Info</div>
                                <div class="content">
                                    amandeep@sap.com</br>
                                    32434242
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card-heading">Expertise</div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                                <div class="col s12 m12">
                                    <div class="card-heading">Expertise</div>
                                </div>
                        </div>
                    </div>
            </div>
            <div class="col s4 m4">
                    <div class="card custom-card">
                        <div class="card-heading">
                            Based on your expertise and interests, you might want to start a chat with:
                        </div>
                        <div class="line-middle-card">
                        </div>
                        <div class="card-content">
                            <span class="oval-small"></span>
                            <span class="mentors">
                                <p class="mentor-name"> name</p>
                                <p class="mentor-email">ex@ex.com</p>
                            </span>
                        </div>
                    </div>
            </div>
            <div class="col s4 m4">
                    <div class="row">
                            <div class="col s12 m12">
                                <form action="{{ url_for('dashboard') }}" method="POST">
                                    <input type="text" class="input" name="ques">
                                </form>
                            </div>
                    </div>
                    <div class="card custom-card-right">
                        <div class="card-heading">
                            <p class="ques">Question</p>
                            <p class="ques-below">These people might be able to help:</p>
                        </div>
                        <div class="line-right-card"></div>
                        <div class="card-content">
                            <span class="oval-small"></span>
                            <span class="mentors">
                                <p class="mentor-name"> name</p>
                                <p class="mentor-email">ex@ex.com</p>
                            </span>
                        </div>
                    </div>
            </div> 
        </div>
    <!--/div-->
</body>
</html>