<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Acquaint</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <!--div class="container"-->
        <div class="row header ">
           <img class="logo" src="{{ url_for('static', filename='images/acquaint-logo.svg') }}" alt="acquaint-logo">
           <div class="row header-text-row">
               <div class="col s4 m4 ">
                   <div class="header-text header-txt-left">
                        Your Profile
                    </div>
               </div>
               <div class="col s4 m4"> 
                   <div class="header-text header-txt-center">
                        Ask the Experts
                    </div>
               </div>
               <div class="col s4 m4 ">
                   
                   <div class="header-text header-txt-right">
                        Expand Your Network
                    </div>
               </div>
           </div>
        </div>    
        <div class="row ">
            <div class="col s4 m4">
                    <div class="card custom-card-left">
                        <div class="row">
                            <div class="col s4 m4">
                                <div class="circle">
                                    
                                </div>
                            </div>
                            <div class="col s8 m8">
                                <p id="name">John Doe</p>
                            </div>
                        </div><div class="line"></div>
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card-heading">Contact Info</div>
                                <div class="content">
                                    amandeep@sap.com</br>
                                    32434242
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card-heading">Expertise</div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                                <div class="col s12 m12">
                                    <div class="card-heading">Expertise</div>
                                </div>
                        </div>
                    </div>
            </div>
            <div class="col s4 m4">
                    <div class="row">
                            <div class="col s12 m12">
                                <!--form action="{{ url_for('dashboard') }}" method="POST">
                                </form-->
                                <input id="ques_id" type="text" class="input" name="ques" value="" placeholder="Ask a question, any question!">
                            </div>
                    </div>
                    <div class="card custom-card-right">
                        <div class="card-heading">
                            <p class="ques">Question</p>
                            <p class="ques-below">These people might be able to help:</p>
                        </div>
                        <div class="line-right-card"></div>
                        <div class="card-content" id="ques_cotent">
                            
                        </div>
                    </div>
            </div> 
            <div class="col s4 m4">
                    <div class="card custom-card">
                        <div class="card-heading">
                            Based on your expertise and interests, you might want to start a chat with:
                        </div>
                        <div class="line-middle-card">
                        </div>
                        <div class="card-content">
                            {% for u in context['expertise'] %}
                            <div>
                            <span class="oval-small"></span>
                            <span class="mentors">
                                <p class="mentor-name"> {{ u[0] }}</p>
                                <p class="mentor-email">{{ u[1] }}</p>
                            </span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
            
        </div>
    <!--/div-->
</body>
<script>
    $(document).ready(function(){
        $('#ques_id').on('keypress', function(e) {
            if (e.which === 13){
                console.log("entered..")
                $(this).attr("disable", "disabled");
                var ques = $(this).val()
                $('#loading-image').show();
                $.ajax({
					url: '/api/recommendation/question',
					type: 'GET',
					data: {'ques':ques},
					success: function(response){
                        console.log(response)
						if(response){
                            console.log("Successful")
							console.log(response.rec_4_interest)
                            console.log(response.rec_4_interest.length)
                            $('.ques').text(ques);
                            var small_circle = '<span class="oval-small"></span>';
                            var men = '<span class="mentors">';
                            var nam = '<p class="mentor-name"> name</p>';
                            var email = '<p class="mentor-email">ex@ex.com</p>';
                            len = response.rec_4_interest.length
                            for(var exp in response.rec_4_expert){
                                console.log(exp);
                                var $entry = $('<div class="ques-men"><span class="oval-small"></span><span class="mentors"><p class="mentor-name"> '+ response.rec_4_expert[exp]+'</p><p class="mentor-email">'+ response.rec_4_expert[exp]+'</p></span></div>')
                               $('#ques_cotent').append( $entry ); 
                            }
						} else {
							console.log("error");
							
						}						
					},
                    complete: function(){
                        $('#loading-image').hide();
                    },
                    
				});

                $(this).removeAttr("disabled");
            }
            
            /*
            $.ajax({
					url: '/api/recommendation/question',
					type: 'POST',
					data: {'pid':pid},
					success: function(response){
						if(response.data){
							$('#atw-toast').html("Added to watchlist");
							$('#atw-toast').addClass("show");
							setTimeout(function(){
								$('#atw-toast').removeClass("show");
							}, 3000);
							$(this).fadeOut('slow', function(){
								console.log($(this));
								$(this).css('visibility', 'hidden');
							})
						} else {
							console.log(response.error);
							$('#atw-toast').html("Something went wrong");
							$('#atw-toast').addClass("show");
							setTimeout(function(){
								$('#atw-toast').removeClass("show");
							}, 3000);
						}
						
					},
				});*/
        })

    })
</script>
</html>